:root {

  /* *grey background for star and radio buttons */
  --circle-background: rgba(90, 98, 101, 0.2);
  --selected-button: rgb(124, 135, 152);
  --main-font: "Overpass", sans-serif;
}

/* *targets the body and main container */
body,
main {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(216, 12%, 8%);
  font-family: var(--main-font);
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

/* *targets h1 */
h2.heading {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
}

/* *targets span element around star*/
span.star-bg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--circle-background);
  display: grid;
  place-items: center;
}

/* *targets containers for BOTH CARDS */
.card-cont {
  width: 90%;
  /* ?instead of a media query, just set a maximum width */
  max-width: 400px;
}

/* *targets actual card content for BOTH CARDS */
.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 8%;
}

/* *targets paragraph */
.paragraph {
  font-size: 13px;
  color: hsl(217, 12%, 63%);
}

/* *targets container holding radio buttons form */

#rating-btns-cont {
  display: flex;
  margin: 28px 0 28px;
  justify-content: space-between;
}

/* *targets radio inputs */
input[type="radio"] {
  appearance: none;
}

/* *targets radio button labels */
label.radio-btn-label {
  background-color: var(--circle-background);
  display: grid;
  place-items: center;
  color: hsl(217, 12%, 63%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* *click style */

.radio-btn-selected {
  background-color: var(--selected-button);
  color: rgb(255, 255, 255);
}

/* *changes color to orange on hover*/
.radio-btn-label:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

/* *submit button */
#submit-btn {
  font-family: var(--main-font);
  background-color: hsl(25, 97%, 53%);
  color: white;
  border: none;
  width: 100%;
  padding: 10px 10px;
  border-radius: 100px;
  letter-spacing: 2px;
}

/* *changes color to orange on hover*/
#submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

.radio-btn-label:hover, #submit-btn:hover {
  transition-duration: 0.1s;
}

/* *targets thank you card */
#thank-you-card-cont {
  display: none;
  text-align: center;
}

/* *targets the grey background surrounding the rating */
#rating-bg {
  margin-top: 17.4px;
  width: 150px;
  border-radius: 10px;
  background-color: rgba(90, 98, 101, 0.2);
  display: inline-block;
  /*? displays inline block because we need to display the characters in-line, but also modify the width and height of the span */
  text-align: center;
  line-height: 0;
}

/* *targets rating message */
#rating {
  font-size: 13px;
  font-weight: 300;
  color: hsl(25, 97%, 53%);
}
