:root {

  /* *grey background for star and radio buttons */
  --circle-bg-grey: rgba(90, 98, 101, 0.2);
  --selected-btn-grey: rgb(124, 135, 152);
  --hovered-btn-orange: hsl(25, 97%, 53%);
  --main-font: "Overpass", sans-serif;
}

/* *styles the body and main container */
body,
main {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(216, 12%, 8%);
  font-family: var(--main-font);
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}


/* @!card container and actual card */
/* *styles containers for BOTH CARDS (rating and thank you card) */
.card-cont {
  width: 90%;
  /* ?instead of a media query, just set a maximum width */
  max-width: 400px;
}

/* *styles card background*/
.card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 8%;
  box-shadow: 12px 10px 20px 5px hsl(0, 0%, 3%);
}

/* @!card content */

/* *targets span element around star*/
span.star-bg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--circle-bg-grey);
  display: grid;
  place-items: center;
}


/* *styles h1 */
h2.heading {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
}

/* *styles paragraph */
.paragraph {
  font-size: 13px;
  color: hsl(217, 12%, 63%);
}

/* *styles container holding radio buttons form */

fieldset#rating-btns-cont {
  border:none;
  display: flex;
  margin: 28px 0 28px -21px;
  padding: 0;
  justify-content: space-around;
}


/* *styles radio input buttons */
.radio-btn-input {
  appearance: none;
  background-color: var(--circle-bg-grey);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* *styles radio button numbers */
.radio-btn-label  {
  font-size: 0.8rem;
  color: hsl(217, 12%, 63%);
  margin-left: -3.8rem;
  margin-top: 0.9rem;
}

/* *changes the background color of radio button to grey when clicked/focus (and color of label to white)  */

.radio-btn-input:checked, 
.radio-btn-input:focus {
  background-color: var(--selected-btn-grey);
  outline:none;     
}

/* *changes background color to orange on hover */
.radio-btn-input:hover {
  background-color: var(--hovered-btn-orange);
}

/* *changes the label to white when the input is selected, focused or hovered */
.radio-btn-input:checked + .radio-btn-label, 
.radio-btn-input:focus + .radio-btn-label , 
.radio-btn-input:hover + .radio-btn-label {
  color: hsl(0, 0%, 100%);
}

/* *styling for submit button */
#submit-btn {
  font-family: var(--main-font);
  background-color: hsl(25, 97%, 53%);
  color: white;
  border: none;
  width: 100%;
  padding: 10px 10px;
  border-radius: 100px;
  letter-spacing: 2px;
}

/* *changes background color of submit button to orange on hover and focus*/
#submit-btn:hover,  #submit-btn:focus{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  outline: none;
}

/* * delays hover effect on hover button by 0.1s */
#submit-btn:hover {
  transition-duration: 0.2s;
}

/* *styling for thank you card */
#thank-you-card-cont {
  display: none;
  text-align: center;
}

/* *styling the grey background surrounding the rating text */
#rating-bg {
  margin-top: 17.4px;
  width: 150px;
  border-radius: 10px;
  background-color: rgba(90, 98, 101, 0.2);
  display: inline-block;
  /*? displays inline block because we need to display the characters in-line, but also modify the width and height of the span */
  text-align: center;
  line-height: 0;
}

/* *targets rating message */
#rating {
  font-size: 13px;
  font-weight: 300;
  color: hsl(25, 97%, 53%);
}
